<div class="overflow-hidden">
    <div class="px-4 py-5 sm:px-8">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            {% block contentBoxTitle %}{% endblock %}
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
            {% block contentBoxSubtitle %}{% endblock %}
        </p>
    </div>

    <div class="border-t border-gray-200">
        <div class="p-0 px-4 py-5 sm:px-8 bg-gray-200">

            {% block contentBoxContent %}{% endblock %}

        </div>
    </div>
</div>
