{# @var this \App\VideoBasedMarketing\Recordings\Presentation\Component\VideoDurationLiveComponent #}
<span
        {{ attributes }}
        {% if this.shouldPoll %}
            data-poll
        {% endif %}
>
    {% if this.duration is not null %}
        {{ this.duration }}
    {% else %}
        ...
    {% endif %}
</span>
