{# @var this \App\Components\Feature\Recordings\VideoSecondsLiveComponent #}
<span
        {{ attributes }}
        {% if this.shouldPoll %}
            data-poll
        {% endif %}
>
    {% if this.seconds is not null %}
        {{ 'feature.recordings.seconds'|trans({seconds: this.seconds|round(0)}) }}
    {% else %}
        &nbsp;
    {% endif %}
</span>
