{# @var this \App\Components\Feature\Recordings\VideoSecondsLiveComponent #}
<div
        {{ attributes }}
        {% if this.shouldPoll %}
            data-poll
        {% endif %}
>
    {% if this.video.assetFullMp4Seconds is not null %}
        {{ 'feature.recordings.seconds'|trans({seconds: this.video.assetFullMp4Seconds|round(0)}) }}
    {% else %}
        &nbsp;
    {% endif %}
</div>
