{# @var this \App\VideoBasedMarketing\Mailings\Presentation\Component\VideoMailingEditorLiveComponent #}
{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

<div
    {{ attributes }}
>

    {{ this.video.title }}

</div>
