{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}
{# @var videoMailing \App\VideoBasedMarketing\Mailings\Domain\Entity\VideoMailing #}

{% trans_default_domain 'videobasedmarketing.mailings' %}

{% apply inline_css %}
    <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
        }
        .video-poster-still-with-play-overlay {
            max-width: 320px;
        }
    </style>

    <p>
        {{ videoMailing.bodyAboveVideo|nl2br }}
    </p>

    <p>
        <img
                class="video-poster-still-with-play-overlay"
                src="{{
                        TwigHelperService
                            .recordingsInfrastructureService
                            .videoPosterStillWithPlayOverlayForEmailAssetUrl(videoMailing.video, true)
                }}"
        >
    </p>

    <p>
        {{ videoMailing.bodyBelowVideo|nl2br }}
    </p>

{% endapply %}
