<div class="overflow-hidden">

    <div class="
        padded-content-box
        bg-gradient-to-r from-fuchsia-50 to-white
        pt-10 pb-8 border-0 border-t-0 border-l-0 border-r-0 border-neutral-100
        mb-4
    ">
        <h3 class="text-3xl leading-6 font-semibold text-gray-900">
            {% block contentBoxTitle %}{% endblock %}
        </h3>
        <p class="mt-1 max-w-2xl text-md text-neutral-500">
            {% block contentBoxSubtitle %}{% endblock %}
        </p>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="
                {% apply spaceless %}
                    rounded-md
                    p-8
                    m-4
                    sm:m-8
                    text-lg
                    font-bold
                    {% if label is same as 'success' %} bg-lime-100 text-lime-900 {% endif %}
                    {% if label is same as 'info' %} bg-indigo-100 text-indigo-900 {% endif %}
                    {% if label is same as 'warning' %} bg-orange-100 text-orange-900 {% endif %}
                    {% if label is same as 'danger' %} bg-red-100 text-red-900 {% endif %}
                {% endapply %}
            ">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div
            class="padded-content-box"
            style="max-width: 1920px;"
    >
         {% block contentBoxContent %}{% endblock %}
    </div>

</div>
