<div class="overflow-hidden mt-6">

    <div class="
        padded-content-box
        pt-4 pb-0 border-0 border-t-0 border-l-0 border-r-0 border-neutral-100
        mb-4
    ">
        <h3 class="text-xl leading-6 font-extralight text-neutral-600">
            {% block contentBoxTitle %}{% endblock %}
            <div class="mt-2 bg-gradient-to-l h-0.5 bg-mercurius-blue-50"></div>
        </h3>
    </div>


    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="pl-4 pr-4">
                <div class="
                {% apply spaceless %}
                    rounded-md
                    p-8
                    m-4
                    sm:m-8
                    text-lg
                    font-normal
                    border-1
                    {% if label is same as 'success' %} bg-mercurius-green-100 text-mercurius-green-900 border-mercurius-green-500{% endif %}
                    {% if label is same as 'info' %} bg-mercurius-blue-100 text-mercurius-blue-900 text-mercurius-blue-500 {% endif %}
                    {% if label is same as 'warning' %} bg-orange-50 text-orange-600 border-orange-300{% endif %}
                    {% if label is same as 'danger' %} bg-red-100 text-red-900 border-red-500 {% endif %}
                {% endapply %}
            ">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    <div
            class="padded-content-box"
    >
         {% block contentBoxContent %}{% endblock %}
    </div>

</div>
