<div class="overflow-hidden mt-6">

    <div class="
        padded-content-box
        pt-4 pb-0 border-0 border-t-0 border-l-0 border-r-0 border-neutral-100
        mb-4
    ">
        <h3 class="text-xl leading-6 font-extralight text-neutral-600">
            {% block contentBoxTitle %}{% endblock %}
            <div class="mt-2 bg-gradient-to-l h-0.5 bg-mercurius-blue-50"></div>
        </h3>
    </div>

    <div
            class="padded-content-box"
    >
         {% block contentBoxContent %}{% endblock %}
    </div>

</div>
