<nav class="flex flex-col justify-between h-full">

    <div>
        {{ component(
            'main_navigation',
            {
                user: app.user,
                request: app.request,
                type: 'stacked'
            })
        }}
    </div>

    <div>
        {{ component(
            'side_navigation',
            {
                user: app.user,
                request: app.request,
                type: 'stacked'
            })
        }}
    </div>

</nav>
