{% extends '@shared/base_minimal.html.twig' %}

{% block body %}

    <div
        class="p-32"
    >
        <script
                id="CookieDeclaration"
                src="https://consent.cookiebot.com/cb9f086a-99e2-446a-b0b3-9fe840cc400c/cd.js"
                type="text/javascript"
                async
        ></script>
    </div>

{% endblock %}
