{% extends '@shared/base_default.html.twig' %}

{% block mainWrapperClasses %}{% endblock %}

{% block contentTitle %}{{ 'sidenav.homepage'|trans }}{% endblock %}

{% block body %}

    {% set outerClasses = 'mx-auto max-w-8xl flex flex-col lg:flex-row justify-center items-start gap-32 py-16 px-8 md:px-32' %}


    <div class="bg-gradient-to-br from-mercurius-green-500 to-mercurius-blue-500 pt-16">

        <div class="{{ outerClasses }}">

            <div class="flex flex-col gap-8 justify-center items-center max-w-3xl">

                <div class="text-6xl text-white font-extrabold drop-shadow-md text-mercurius-blue-900 text-center">
                    Why use <span class="font-normal logo-font">Fyyn</span>?
                </div>


                <div class="text-xl font-normal text-mercurius-blue-900 flex flex-col justify-center items-center gap-12 text-center">

                    <div>
                        While
                        <span class="logo-font font-normal">Fyyn</span>
                        can be used to <span class="text-white">succeed with video</span> in many different ways,
                        here is one use case that our customers love:
                    </div>

                    <div class="text-3xl font-black">
                        <span class="whitespace-nowrap">🚀 Turbo-charged</span> product development.
                    </div>

                    <div>
                        In this use case,
                        <span class="logo-font font-normal">Fyyn</span>
                        is used to create and share short video clips
                        <span class="text-white whitespace-nowrap">blazingly fast</span>.
                    </div>

                    <div class="text-3xl font-black">
                        So what?
                    </div>

                    <div>
                        At first, this doesn‘t sound exactly revolutionary,
                        but when you are creating digital products remotely
                        in a team, being able to
                        <span class="font-bold">quickly provide feedback</span> and iterate
                        towards the best solution in a visual and asynchronous
                        way is nothing short of a <span class="font-bold">game-changer!</span>
                    </div>

                    <div class="text-3xl font-black">
                        How does it work?
                    </div>

                    <div>
                        Imagine you are <span class="font-bold">test-driving a digital product</span> that you and your team
                        are currently creating — this could be a web page, a mobile app, or a presentation.
                    </div>

                    <div>
                        You have <span class="font-bold">found a bug</span> or identified an area that needs to be changed.
                    </div>

                    <div>
                        Here‘s what you do with
                        <span class="logo-font font-normal">Fyyn</span>:
                    </div>

                    <div class="max-w-xl flex flex-col gap-4 text-left">
                        <div class="flex flex-row justify-start items-center gap-8">
                            <div class="flex-shrink-0 w-20 h-20 rounded-full bg-mercurius-blue-100 text-mercurius-blue-600 text-md font-bold flex flex-col justify-center items-center drop-shadow-md">
                                <span class="drop-shadow-sm">Step 1</span>
                            </div>

                            <div class="text-mercurius-blue-900">
                                Start <span class="font-bold">recording your screen with a single click</span>
                                right from your browser, and show-case the bug or
                                describe your change request.
                            </div>
                        </div>

                        <div class="flex flex-row justify-start items-center gap-8">
                            <div class="flex-shrink-0 w-20 h-20 rounded-full bg-mercurius-blue-100 text-mercurius-blue-600 text-md font-bold flex flex-col justify-center items-center drop-shadow-md">
                                <span class="drop-shadow-sm">Step 2</span>
                            </div>

                            <div class="text-mercurius-blue-900">
                                <span class="font-bold">Share the video URL</span> wherever you like:
                                Slack, Teams, iMessage, WhatsApp, doesn‘t matter.
                            </div>
                        </div>

                        <div class="flex flex-row justify-start items-center gap-8">
                            <div class="flex-shrink-0 w-20 h-20 rounded-full bg-mercurius-blue-100 text-mercurius-blue-600 text-md font-bold flex flex-col justify-center items-center drop-shadow-md">
                                <span class="drop-shadow-sm">Step 3</span>
                            </div>

                            <div class="font-bold text-mercurius-blue-900">
                                There is no step 3!
                            </div>
                        </div>
                    </div>

                    <div>
                        No need to wait for an upload!
                    </div>

                    <div>
                        No need to think about video file sizes!
                    </div>

                    <div class="font-bold">
                        Creating and sharing a 20 seconds video
                        literally takes 25 seconds!
                    </div>

                    <div>
                        When using
                        <span class="logo-font font-normal">Fyyn</span>,
                        this way of working together quickly
                        becomes second nature.
                    </div>

                    <div>
                        Instead of writing long-winded
                        messages where you try to explain
                        the issue, you <span class="font-bold">simply show show and tell</span>.
                    </div>

                </div>
            </div>

        </div>

    </div>

{% endblock %}
