@use "~inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);
@use "~inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);
@include default.all;
@include variable.all;

@font-face {
    font-family: 'Titan One';
    src: local(''),
    url('../../public/assets/fonts/titan-one/TitanOne-Regular.woff2') format('woff2');
}

body {
    background-color: lightgray;
}
