@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .logo-font {
        font-family: 'Titan One', serif;
    }

    .max-w-8xl {
        max-width: 100rem;
    }

    .border-1 {
        border-width: 1px;
    }

    .sidenav-button-active {
        @apply bg-mercurius-green-400 p-4 rounded-l-md
        h-9 text-black -mr-0 w-40
        text-xs sm:text-sm font-bold whitespace-nowrap
        flex flex-row justify-end items-center;
    }

    .sidenav-button-inactive {
        @apply bg-neutral-300 p-4 rounded-l-md
        hover:bg-mercurius-green-400 hover:text-black
        h-9 w-full text-neutral-900
        text-xs sm:text-sm font-light whitespace-nowrap
        flex flex-row justify-end items-center;
    }

    .padded-content-box {
        @apply px-4 py-6 sm:px-12;
    }

    .collection-box {
        @apply bg-gray-50 p-8 rounded-md;
    }

    .grid-outer {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-8 w-full pb-12;
    }


    .cta-link-primary {
        @apply flex flex-row gap-2 rounded-md bg-mercurius-blue-100 text-mercurius-blue-700 p-4 text-start w-full ease-in-out delay-75 duration-100 border-mercurius-blue-300 border-1;
    }

    .cta-link-success {
        @apply flex flex-row gap-2 rounded-md bg-mercurius-green-100 text-mercurius-green-900 p-4 text-start w-full ease-in-out delay-75 duration-100 border-mercurius-green-300 border-1;
    }

    .cta-link-danger {
        @apply flex flex-row gap-2 rounded-md bg-red-100 text-red-700 p-4 text-start w-full ease-in-out delay-75 duration-100 border-red-300 border-1;
    }



    .cta-with-icon-primary {
        @apply
        flex
        flex-row
        gap-2
        text-base
        font-medium
        text-white
        p-3
        bg-mercurius-blue-500
        hover:bg-mercurius-blue-700
        rounded-md w-fit
        ;
    }

    .cta-with-icon-success {
        @apply
        cta-with-icon-primary
        hover:text-mercurius-green-50
        bg-mercurius-green-500
        hover:bg-mercurius-green-700
        ;
    }

    .cta-with-icon-danger {
        @apply
        cta-with-icon-primary
        hover:text-red-50
        bg-red-700
        hover:bg-red-900
        ;
    }

    .cta-with-icon-neutral {
        @apply cta-with-icon-primary text-neutral-900 bg-neutral-100 hover:bg-neutral-100 border-neutral-200;
    }

    .cta-with-icon-disabled {
        @apply cta-with-icon-primary text-neutral-900 bg-neutral-100 hover:bg-neutral-100 border-neutral-200 hover:cursor-not-allowed;
    }

    .cta-with-icon-inline-primary {
        @apply flex flex-row gap-1 hover:underline text-mercurius-blue-900 inline-block;
    }

    .cta-with-icon-inline-danger {
        @apply flex flex-row gap-1 hover:underline text-red-800;
    }

    .cta-link-back {
        @apply
        w-fit
        text-neutral-400
        hover:text-neutral-900
        flex
        flex-row
        items-center
        gap-2
        text-sm
        underline
    }

    .cta-link-primary-small {
        @apply
        inline-block
        min-h-fit
        mt-1
        mr-1
        mb-1
        ml-0
        gap-1
        rounded-md
        bg-mercurius-blue-100
        text-mercurius-blue-700
        p-2
        pl-3
        pr-3
        text-center
        w-fit
        ease-in-out
        delay-75
        duration-100
        border-mercurius-blue-300
        border-1
        ;
    }

    .cta-link-success-small {
        @apply
        inline-block
        min-h-fit
        mt-1
        mr-1
        mb-1
        ml-0
        gap-1
        rounded-md
        bg-mercurius-green-200
        text-mercurius-green-900
        p-2
        pl-3
        pr-3
        text-center
        w-fit
        ease-in-out
        delay-75
        duration-100
        border-mercurius-green-500
        border-1
        ;
    }

    .cta-link-danger-small {
        @apply
        inline-block
        min-h-fit
        mt-1
        mr-1
        mb-1
        ml-0
        gap-1
        rounded-md
        bg-red-100
        text-red-700
        p-2
        pl-3
        pr-3
        text-center
        w-fit
        ease-in-out
        delay-75
        duration-100
        border-red-300
        border-1
        ;
    }


    .heroicon-next-to-text {
        @apply h-5 w-5 inline align-bottom shrink-0;
    }

    textarea {
        resize: none;
    }

    .text-input {
        @apply
        h-12
        text-black
        bg-neutral-50
        rounded-md
        border-1
        border-neutral-300
        focus:border-mercurius-blue-500
        focus:ring-mercurius-blue-300
        focus:bg-mercurius-blue-50
        ;
    }
}
