@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .border-1 {
        border-width: 1px;
    }

    .padded-content-box {
        @apply px-4 py-6 sm:px-8;
    }

    .collection-box {
        @apply bg-gray-50 p-8 rounded-md shadow-inner shadow-gray-300;
    }

    .nav-btn-default {
        @apply text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
    }
    .nav-btn-active {
        @apply bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium;
    }

    .nav-btn-default-mobile {
        @apply text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium;
    }
    .nav-btn-active-mobile {
        @apply bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium;
    }

    .cta-link-primary {
        @apply flex flex-row gap-2 rounded-md bg-indigo-100 text-indigo-700 p-4 text-start w-full ease-in-out delay-75 duration-100 hover:shadow-md hover:shadow-indigo-300 hover:-translate-y-1 border-indigo-300 border-1;
    }

    .cta-link-success {
        @apply flex flex-row gap-2 rounded-md bg-lime-100 text-lime-900 p-4 text-start w-full ease-in-out delay-75 duration-100 hover:shadow-md hover:shadow-lime-300 hover:-translate-y-1 border-lime-300 border-1;
    }

    .cta-link-danger {
        @apply flex flex-row gap-2 rounded-md bg-red-100 text-red-700 p-4 text-start w-full ease-in-out delay-75 duration-100 hover:shadow-md hover:shadow-red-300 hover:-translate-y-1 border-red-300 border-1;
    }


    .cta-link-primary-small {
        @apply
        inline-block
        min-h-fit
        mt-1
        mr-1
        mb-1
        ml-0
        gap-1
        rounded-md
        bg-indigo-100
        text-indigo-700
        p-2
        pl-3
        pr-3
        text-center
        w-fit
        ease-in-out
        delay-75
        duration-100
        hover:shadow-md
        hover:shadow-indigo-300
        hover:-translate-y-1
        border-indigo-300
        border-1
        ;
    }

    .cta-link-success-small {
        @apply
        inline-block
        min-h-fit
        mt-1
        mr-1
        mb-1
        ml-0
        gap-1
        rounded-md
        bg-lime-200
        text-lime-900
        p-2
        pl-3
        pr-3
        text-center
        w-fit
        ease-in-out
        delay-75
        duration-100
        hover:shadow-md
        hover:shadow-lime-300
        hover:-translate-y-1
        border-lime-500
        border-1
        ;
    }

    .cta-link-danger-small {
        @apply
        inline-block
        min-h-fit
        mt-1
        mr-1
        mb-1
        ml-0
        gap-1
        rounded-md
        bg-red-100
        text-red-700
        p-2
        pl-3
        pr-3
        text-center
        w-fit
        ease-in-out
        delay-75
        duration-100
        hover:shadow-md
        hover:shadow-red-300
        hover:-translate-y-1
        border-red-300
        border-1
        ;
    }


    .button-success {
        @apply cta-link-success w-fit border-lime-300;
    }

    .button-danger {
        @apply cta-link-danger w-fit border-red-300;
    }

    .heroicon-next-to-text {
        @apply h-5 w-5 inline align-bottom;
    }

    textarea {
        resize: none;
    }
}
