{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

<!DOCTYPE html>
<html class="bg-white" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Fyyn — {% block title %}Welcome!{% endblock %}</title>

        {{ include('@shared/includes/cookiebot_script.html.twig') }}

        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('tailwind') }}

        {% block stylesheets %}{% endblock %}


        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}{% endblock %}
    </head>
    <body class="bg-white h-full">

        {% block body %}{% endblock %}

    </body>
</html>
