{% extends '@shared/base_naked.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% block body %}

    <div>
        Welcome, unregistered user {{ app.user.userIdentifier }}.
    </div>

{% endblock %}
