{# email \Symfony\Bridge\Twig\Mime\WrappedTemplatedEmail #}

{% trans_default_domain 'videobasedmarketing.account' %}

{% apply inline_css %}
    <style>
        h1 {
            color: #333;
        }
    </style>


    <h1>Welcome!</h1>

    <p>
        You signed up using the following email:
    </p>
    <p>
        {{ email.to[0].address }}
    </p>

    <p>
        <a href="{{ signedUrl }}">Confirm email</a>.
    </p>

    <p>
        This link will expire in
        {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>
{% endapply %}
