{% extends 'base.html.twig' %}

{# @var VideoService \App\Service\Feature\Recordings\VideoService #}

{% block title %}Tailwind Playground{% endblock %}
{% block contentTitle %}Tailwind Playground{% endblock %}

{% block body %}

    {% embed 'embeds/default_content_box.html.twig' %}
        {% block contentBoxTitle %}
            Tailwind Playground
        {% endblock %}

        {% block contentBoxSubtitle %}
            Breakpoint:
            <span class="inline sm:hidden">xs</span>
            <span class="hidden sm:inline md:hidden">sm</span>
            <span class="hidden md:inline lg:hidden">md</span>
            <span class="hidden lg:inline xl:hidden">lg</span>
            <span class="hidden xl:inline 2xl:hidden">xl</span>
            <span class="hidden 2xl:inline">2xl</span>

        {% endblock %}

        {% block contentBoxContent %}

            {# ------------------------------------------------------------------------------------ #}
            <div class="mb-16">

                <div class="
                        border-1
                        border-gray-300
                        rounded-lg
                        divide-y
                        divide-gray-300
                        max-w-7xl
                        bg-white
                ">

                    <div class="
                            grid
                            grid-cols-4
                            p-4
                            justify-between
                            items-start
                            gap-8
                    ">
                        <h3 class="font-bold">
                            A listed thing
                        </h3>

                        <div class="col-span-2">
                            A description for the thing that is listed.
                        </div>

                        <div class="
                                text-right
                                items-end
                                flex
                                flex-col
                        ">
                            <form
                                    action="#"
                                    method="post"
                                    class="inline-block"
                            >
                                <button
                                        class="cta-link-primary-small"
                                        type="submit"
                                >
                                    Primary action
                                </button>
                            </form>

                            <form
                                    action="#"
                                    method="post"
                                    class="inline-block"
                            >
                                <button
                                        class="cta-link-success-small"
                                        type="submit"
                                >
                                    Success action
                                </button>
                            </form>

                            <form
                                    action="#"
                                    method="post"
                                    class="inline-block"
                            >
                                <button
                                        class="cta-link-danger-small"
                                        type="submit"
                                >
                                    Danger action
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="
                            grid
                            grid-cols-4
                            p-4
                            justify-between
                            items-start
                            gap-8
                    ">
                        <h3 class="font-bold">
                            Another entry in this list
                        </h3>

                        <div class="col-span-2">
                            Here is yet another description for this thing, explaining what it is here for.
                        </div>

                        <div class="
                                text-right
                                items-end
                                flex
                                flex-col
                        ">
                            <form
                                    action="#"
                                    method="post"
                                    class="inline-block"
                            >
                                <button
                                        class="cta-link-primary-small"
                                        type="submit"
                                >
                                    Primary action
                                </button>
                            </form>

                            <form
                                    action="#"
                                    method="post"
                                    class="inline-block"
                            >
                                <button
                                        class="cta-link-success-small"
                                        type="submit"
                                >
                                    Success action
                                </button>
                            </form>

                            <form
                                    action="#"
                                    method="post"
                                    class="inline-block"
                            >
                                <button
                                        class="cta-link-danger-small"
                                        type="submit"
                                >
                                    Danger action
                                </button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>

        {% endblock %}
    {% endembed %}

{% endblock %}
