{# @var this \App\Components\MainNavigationComponent #}
{# @var TwigHelperService \App\Shared\Twig\Presentation\Service\TwigHelperService #}

{% for entry in this.entries %}
    <a
        {% if this.type is same as 'wide' %}

            {% if entry.active %}
                class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                aria-current="page"
            {% else %}
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            {% endif %}

        {% else %}

            {% if entry.active %}
                class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium mb-2"
                aria-current="page"
            {% else %}
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium mb-2"
            {% endif %}

        {% endif %}

        href="{{ path(entry.routeName) }}"
    >
        {{ entry.displayNameTransId|trans }}
    </a>
{% endfor %}
