<html lang="en">
    <head>
        <title>Redirect to sign in page</title>
        <meta http-equiv="Refresh" content="0; url='{{ url('videobasedmarketing.account.presentation.sign_in') }}'" />
    </head>
    <body>
        <a href="{{ url('videobasedmarketing.account.presentation.sign_in') }}">Click here to go the sign in page.</a>
    </body>
</html>
