<div class="flex flex-row justify-end">
    <a
            href="{{ path('shared.presentation.contentpages.homepage') }}"
            target="_blank"
            class="
                        flex flex-row gap-1.5 justify-end items-end
                        p-2 pr-4 pl-4 rounded-md
                        w-fit
                        font-extralight
                        bg-gradient-to-l
                        from-mercurius-green-500
                        to-mercurius-blue-500
                        text-white
                    "
    >
        <div>powered by</div>
        <img
                class="h-5"
                src="{{ asset('assets/images/shared/logos/fyyn-logo-head-only-240x241.png') }}"
                alt="Fyyn.io"
        >
        <div class="logo-font text-mercurius-blue-900">Fyyn</div>
    </a>
</div>
