{% extends '@shared/base.html.twig' %}

{% block body %}

    {% embed '@shared/embeds/default_content_box.html.twig' %}

        {# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

        {# @var recordingRequest \App\VideoBasedMarketing\RecordingRequests\Domain\Entity\RecordingRequest #}

        {% trans_default_domain 'videobasedmarketing.recording_requests' %}

        {% import '@shared/macros/date_and_time.html.twig' as dateAndTimeMacros %}

        {% block contentBoxTitle %}
            {{ dateAndTimeMacros.full(recordingRequest.createdAt) }}
        {% endblock %}

        {% block contentBoxContent %}

            <p>
                <label>
                    Share URL:
                    <input
                            name="share_url"
                            type="text"
                            disabled
                            size="24"
                            value="{{
                            url(
                                'videobasedmarketing.recording_requests.recording_request_share',
                                { 'recordingRequestShortId': recordingRequest.shortId }
                            )
                            }}"
                    >
                </label>
            </p>

            {% if TwigHelperService
                    .recordingRequestsDomainService
                    .getNumberOfUnansweredResponses(recordingRequest) > 0
            %}
                Unbean
            {% endif %}

        {% endblock %}

    {% endembed %}

{% endblock %}
